@using Microsoft.AspNetCore.Http
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject IHttpContextAccessor httpContextAccessor;
@{
    Layout = null;
}
<style>
    body, html {
        font-family: 'Arial Rounded MT';
    }
</style>
<meta name="silktide-cms" content="@Html.Raw(httpContextAccessor.HttpContext.Items["SILKTIDE.CMS"])">

@{
    Layout = null;
}

<h2>Title: @Model.Value("metaTitle")</h2>
<p>Desc: @Model.Value("metaDescription")</p>
<br />

<h3>Meta key: @Html.Raw(httpContextAccessor.HttpContext.Items["SILKTIDE.CMS"])</h3>